<h1>Test 1 component</h1>

<ul>
    
   
   
    <div class="container">
        <div>
                Book and appoitment

        </div>
        <div   class="row">

            <div class="col-sm-12 col-md-6 col-lg-6" *ngFor="let recipient of buttons | keyvalue" style="padding: 20px;">
                <button appWrapText type="button" class="btn-primary-outline">
                    <span style="padding: 15px;">{{recipient.value}}</span>
                </button>
                <br>
            </div>
        </div>
      </div>

  


</ul>
